/* Default */
@font-face {
  font-family: "Rocky Rock";
  src: url("/general/fonts/clicktoamine/Rocky Rock.otf") format("opentype");
  font-display: block;
}
@font-face {
  font-family: "Bree Serif";
  src: url("/general/fonts/clicktoamine/bree-serif-latin-400-normal.woff2") format("woff2");
  font-display: block;
}

/* Doomed */
@font-face {
  font-family: "Doomed Heading";
  src: url("/general/fonts/doomed/Engravers'OldEnglishBold.otf") format("opentype");
  font-display: block;
}
@font-face {
  font-family: "Doomed Text";
  src: url("/general/fonts/doomed/OldStandardTT-Regular.ttf") format("truetype");
  font-display: block;
}

/* Tetris */
@font-face {
  font-family: "Tetris Heading";
  src: url("/general/fonts/tetris/Tomorrow-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Tetris Text";
  src: url("/general/fonts/tetris/BarlowCondensed-Regular.ttf") format("truetype");
  font-display: block;
}

/* Engine */
@font-face {
  font-family: "Engine Heading";
  src: url("/general/fonts/engamine/JetBrainsMono-Bold.woff2") format("woff2");
  font-display: block;
}
@font-face {
  font-family: "Engine Text";
  src: url("/general/fonts/engamine/consolas-webfont.woff") format("woff2");
  font-display: block;
}

:root {
  --font-heading: "Rocky Rock";
  --font-body: "Bree Serif";
}

.doomed {
  --font-heading: "Doomed Heading";
  --font-body: "Doomed Text";
}
.tetris {
  --font-heading: "Tetris Heading";
  --font-body: "Tetris Text";
}
.engine {
  --font-heading: "Engine Heading";
  --font-body: "Engine Text";
}

* {
  font-family: inherit;
}

html,
body {
  font-family: var(--font-body), sans-serif;
}

main {
  font-family: var(--font-body), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: var(--font-heading), sans-serif;
}

p,
li {
  font-family: var(--font-body), sans-serif;
}

h2 {
  font-family: var(--font-heading), sans-serif;
  -webkit-text-stroke: 0.5px var(--supporting-background-color);
}
.doomed h2,
.tetris h2,
.engine h2 {
  -webkit-text-stroke: 0;
}