/* font */
@import "general/fonts/fonts.css";
@import "general/media/video/video.css";

@import "general/carousel/carousel.css";
@import "general/header/header.css";
@import "general/footer/footer.css";
@import "general/media/pdf/pdf.css";
@import "general/media/grid.css";
@import "general/media/article-grid.css";
@import "general/hero.css";
@import "general/media/art/art-grid.css";
@import "general/media/art/models-grid.css";

@import "general/scrollbar.css";
@import "general/dropdown.css";
@import "general/underline-hover.css";
@import "general/button.css";
@import "general/media/tooltip.css";
@import "general/side-nav/side-nav.css";

:root {
  --standout-color-cyan: #3ae9f3;
  --standout-color-green: #4af43a;
  --supporting-background-color: #3b3b3b;
  --main-background-color: #212121;
  --text-color: #e0e0e0;
  --text-color-muted: #a5a5a5;

  --header-height: 80px;
  --border-radius: 0;
}

main {
  flex: 1;
}

html {
  scrollbar-gutter: stable;
}
html,
body {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: clip;
}
body {
  padding-top: var(--header-height);
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  color: var(--text-color);

  background: var(--main-background-color);
  /* background-image:
    linear-gradient(rgba(255, 255, 255, 0.02) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.02) 1px, transparent 1px);
  background-size: 40px 40px;
  background-position: center top; */
}

a {
  text-decoration: none;
  color: inherit;
}
p {
  font-size: 18px;
  margin: 0 0 10px;
  line-height: 1.3;
}

h1 {
  font-size: 2.2rem;
  text-align: center;
  color: var(--text-color);
  margin: 0;
  margin-top: 1rem; 
  margin-bottom: 1rem;
}
h2 {
  font-size: 1.8rem;
  text-align: center;
  color: var(--text-color-muted);
}
h3 {
  font-size: 1.2rem;
  text-align: center;

}


ol,
ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
li {
  font-size: 18px;
}
li > ol,
li > ul {
  margin-top: 0.5rem;
}

section {
  max-width: 1000px;
  margin: 0 auto 120px;
  padding: 0 28px;
}

/* YouTube */
.video-container {
  width: 100%;
  max-width: 1000px;
  aspect-ratio: 16 / 9;
  margin: 40px auto;
}
.video-container iframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
}
