.fancy-button {
  position: relative;
  display: inline-block;
  padding: 0.8rem 1.8rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #f0f0f0;
  background: black;
  border: 2px solid var(--supporting-background-color);

  border-radius: 0.6rem;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  z-index: 0;
  transition: transform 0.2s ease, color 0.2s ease, border-color 0.2s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.fancy-button:hover {
  transform: scale(1.01);
  color: var(--standout-color-green);
  border-color: var(--standout-color-green);
}

.fancy-button:active {
  box-shadow: 0 0 20px var(--standout-color-cyan);
  border-color: var(--standout-color-cyan);
  color: var(--standout-color-cyan);
}

.fancy-button span {
  position: relative;
  display: inline-block;
}

.fancy-button span::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  width: 0;
  height: 3px;
  transform: translateX(-50%);
  background-color: var(--standout-color-green);
  background-color: currentColor;
  transition: width 0.2s ease;
}

.fancy-button:hover span::after {
  width: 100%;
}
.fancy-button:active span::after {
  background-color: cyan;
}