*::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--main-background-color);
  border-radius: var(--border-radius);
  border: 0;
}

*::-webkit-scrollbar-thumb {
  background: var(--supporting-background-color);
  border-radius: var(--border-radius);
}
*::-webkit-scrollbar-thumb:hover {
  background: var(--text-color-muted2);
}
*::-webkit-scrollbar-thumb:active {
  background: var(--text-color);
}

@supports (scrollbar-color: auto) {
  * {
    scrollbar-width: auto;
    scrollbar-color: var(--supporting-background-color) var(--main-background-color);
  }
}