.mediacarousel--corner-art.tetris {
  --carousel-arrow-edge-inset: 6px;
  --carousel-arrow-mobile-inset: 4px;
  --corner-art-outset: -16px;
  --info-top-left-image: url("/projects/tetris/blocks/1.webp");
  --info-top-right-image: url("/projects/tetris/blocks/2.webp");
  --info-bottom-left-image: url("/projects/tetris/blocks/3.webp");
  --info-bottom-right-image: url("/projects/tetris/blocks/4.webp");
  --media-top-left-image: url("/projects/tetris/blocks/5.webp");
  --media-top-right-image: url("/projects/tetris/blocks/6.webp");
}

.mediacarousel--corner-art.tetris .carousel-corner-art--info {
  --corner-top-left-x: -17px;
  --corner-top-left-y: -16px;
  --corner-top-right-x: -17px;
  --corner-top-right-y: -16px;
  --corner-bottom-left-x: -17px;
  --corner-bottom-left-y: -0;
  --corner-bottom-right-x: -17px;
  --corner-bottom-right-y: -0;
}

.mediacarousel--corner-art.tetris .carousel-corner-art__piece {
  transform: none;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.mediacarousel--corner-art.tetris .carousel-corner-art--info .carousel-corner-art__piece--top-left,
.mediacarousel--corner-art.tetris .carousel-corner-art--info .carousel-corner-art__piece--bottom-left,
.mediacarousel--corner-art.tetris .carousel-corner-art--info .carousel-corner-art__piece--bottom-right {
  width: 64px;
  height: 96px;
}

.mediacarousel--corner-art.tetris .carousel-corner-art--info .carousel-corner-art__piece--top-right {
  width: 64px;
  height: 64px;
}

.mediacarousel--corner-art.tetris .carousel-corner-art--media .carousel-corner-art__piece--top-left,
.mediacarousel--corner-art.tetris .carousel-corner-art--media .carousel-corner-art__piece--top-right {
  width: 80px;
  height: 80px;
}

@media (max-width: 900px) {
  .mediacarousel--corner-art.tetris .carousel-corner-art--info .carousel-corner-art__piece--top-left,
  .mediacarousel--corner-art.tetris .carousel-corner-art--info .carousel-corner-art__piece--top-right {
    display: none;
  }
}
