.cv-wrapper {
  box-sizing: border-box;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-bottom: 3rem;
  align-items: center;
}

@media (max-width: 600px) {
  .cv-wrapper {
    padding: 1rem 0.5rem;
    gap: 1.5rem;
  }
}

.cv-section {
  width: 100%;
  box-sizing: border-box;

  padding: 1.5rem; 
  border-radius: 10px; 
  text-align: center;

  background-color: var(--supporting-background-color);
}

.pdf-container iframe {
  width: 100%;
  height: 800px;
  border: none;
}
