.content-grid {
    display: grid;
    gap: 20px;
    margin: 25px 0;
    width: 100%;
}

.content-grid-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}
.content-grid-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.content-grid-4 img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}
.content-grid-2 img {
    aspect-ratio: 5 / 3;
    object-fit: cover;

}


.content-grid img,
.content-grid video {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}


/* content */
.media-text {
    display: grid;
    grid-template-columns: minmax(0, 1.5fr) minmax(0, 1fr);
    gap: 30px;
    align-items: center;
    margin: 35px 0;
    width: 100%;
}

.media-text-media {
    min-width: 0;
    max-width: 100%;
}

.media-text-media img,
.media-text-media video {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.media-text-content {
    min-width: 0;
}

.media-text-content h2,
.media-text-content h3 {
    margin-top: 0;
}


@media (max-width: 800px) {
    .content-grid-4,
    .content-grid-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .media-text {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 500px) {
    .content-grid-4,
    .content-grid-2 {
        grid-template-columns: 1fr;
    }
}