.like-section {
  display: grid;
  grid-template-columns: 1fr 1fr;

  background: var(--supporting-background-color);
  border-radius: var(--border-radius);
}
.likes-column {
  padding: 42px clamp(24px, 5vw, 70px);
}
.likes-column + .likes-column {
  border-left: 1px solid var(--main-background-color);
}
.likes-column h1 {
  margin-bottom: 16px;
}

/* Bullet points */
.likes-column ul {
  display: grid;
  gap: 14px;
  padding: 0;
}
.likes-column li {
  display: flex;
  gap: 12px;
}
.likes-column li::before {
  content: "+";
  color: lime;
  font-weight: bold;
}
.dislikes li::before {
  content: "–";
  color: red;
}
