.art-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.art-grid figure {
  aspect-ratio: 1;
  margin: 0;
  position: relative;
}

.art-grid img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;

  image-rendering: pixelated;
  filter: saturate(0.75);

  transition:
    transform 0.4s ease,
    filter 0.4s ease;
}

.art-grid figure:hover img {
  transform: scale(1.08);
  filter: saturate(1);
}

.eyeball {
  transition: none !important;
}


.banner-models {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 500px));
  gap: 16px;
  justify-content: center;
  width: 100%;
  padding: 0 100px;
  box-sizing: border-box;
}


.banner-model {
  width: 100%;
  aspect-ratio: 1;
  background: var(--supporting-background-color);
}

.banner-model model-viewer {
    width: 100%;
    height: 100%;
    display: block;
    touch-action: pan-y;
}
